#metamask{
  height: 110px;
  
}
#metamask:hover{
  cursor: pointer;
  outline-style: solid;
  ;}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  text-decoration: underline;
}

#heading{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: gray;
  text-align: center;
}

.grid-container {
  display: grid;
}

.persona1{
  margin-top: 00px;
}
.persona2{
  margin-top: 100px;
}


.grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid2x2 > div {
  display: flex; 
  flex-basis: calc(50% - 40px);  
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box { 
  margin: 20px;
  font-size: 35px; 
}
.box1 { background-color: gray }
.box2 { background-color: gray; }
.box3 { background-color: gray; }
.box4 { background-color: gray; }

.font-link {
  font-family: 'Hanalei Fill', cursive;
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
